/*С изменениями*/

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 100;
    border-bottom: 1px solid rgb(52, 51, 51);
    flex-wrap: wrap;
}

.main {
    display: flex;
    justify-content: space-between;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #f8f7f7;
}

.header__navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header__navigation-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    height: 50px;
    margin-right: 20px; 
}

.header__link {
    text-decoration: none;
    color: #333;
}

.header__theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__theme-icon {
    height: 20px;
    margin-right: 5px;
}

.header__theme-text {
    color: #333;
}

.header__search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__search-input {
    padding: 5px;
    border-radius: 10px;
}

.header__login-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__login-link {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.header__signup-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__signup-btn {
    align-items: center;
    background-color: #000000;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    position: relative;
}

.line {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0;
}

.breadcrumbs__reference {
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: #101010;
}

.breadcrumbs__button {
    background-color: transparent;
    border: none;
}

.button {
    cursor: pointer; 
}

.breadcrumbs__icon {
    height: 20px;
    margin-left: 5px;
}

.main {
    display: flex;
    justify-content: space-between;    
}

.main__container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;    
}

.main__left-sidebar {
    flex: 1;
}

.main__right-sidebar {
    flex: 1;
    overflow: hidden;
    padding-top: 20px; 
}

.main__content {
    flex: 2;
}

.main__sidebar-content {
    padding: 20px;
    font-size: 12px;
}

.main__sidebar-label {
    display: block;
    margin-bottom: 10px;
}

.main__sidebar-filter {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
}

.main__sidebar-select {
    width: 40%;
    padding: 10px;
}

.main__sidebar-section {
    margin-bottom: 10px;
    font-size: 10px;
}

.main__sidebar-title {
    margin-bottom: 10px;
}

.main__sidebar-list {
    list-style-type: none;
    padding: 0;
}

.main__sidebar-item {
    margin-bottom: 10px;
}

.main__content-article {
    margin-bottom: 20px;
}

.main__content-hr {
    border: none;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.main__content-title {
    margin-bottom: 20px;
}

.main__content-text {
    margin-bottom: 20px;
}

.footer {
    list-style-type: none;
    background-color: #eff0f1;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.footer__logo-icons {
    display: flex;
    flex-direction: column;
}

.footer__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer__list-item:first-child {
    font-weight: bold;
    font-size: 14px;
}

.container {
    max-width: 1440px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    gap: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff0f1;
    overflow: hidden;
}

.flex-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .header__link {
        display: none;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000; 
    }
    .header__navigation {
        display: none;
    }
    .row {
        display: none;
    }
    .breadcrumbs__button {
        display: none;
    }
    .main__container {
        flex-direction: column;
    }
    .main__left-sidebar, .main__right-sidebar {
        display: none;
    }
    .footer {
        flex-direction: column;
    }
 }
  
 @media only screen and (min-width: 601px) and (max-width: 992px) {
    .header__link {
        display: none;
    }
    
    .header__navigation {
        display: none;
    }
    .row {
        display: none;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%; 
        height: auto;
        z-index: 1000; 
    }
    .breadcrumbs__button {
        display: none;
    }
    .main__container {
        flex-direction: row;
    }
    .main__left-sidebar, .main__right-sidebar {
        display: none;
    }
    .footer {
        flex-direction: column;
    }
 }
  
 @media only screen and (min-width: 993px) {
    .header__navigation-group {
        flex-direction: row;
    }
    .header__navigation {
        flex-direction: row;
    }
    .main__container {
        flex-direction: row;
    }
    .main__left-sidebar, .main__right-sidebar {
        display: block;
    }
    .footer {
        flex-direction: row;
    }
 }
 